.container{
    width: 250px;
    height: fit-content;
    margin:  auto;
    border: 2px solid #22fdfd;
    padding: 0px 15px;
}
h1{
    text-align: center;
    padding: 0;
    margin: 0;
}
input{
    width: 100%;
}
.btn{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    gap: 5px;
    margin-top: 10px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: antiquewhite;
    font-size: 1.5rem;
    border: none;
    outline: none;
}
button:hover{
    transition: all;
    background-color: #432358;
    color: #fff
    ;
}